# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [4]:
numberFloat = 2.3
print(numberFloat)
print(numberFloat)

numberFloat = 7.779311
print(numberFloat)
print(numberFloat)

2.3
2.3
7.779311
7.779311

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1 = 3
num2 = 7.7

result = num1 + num2
print(result)

#result += 2
print(result+2)

10.7
12.7

##### Subtraction

In [12]:
result_diff = num2 - num1

print(result_diff)

result_diff -= 1.11
print(result_diff - 1.11)

4.7
2.4799999999999995

##### Multiplication

In [14]:
#Use clear variable names
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

23.1
46.2

Division

In [21]:
result_div = num2/num1
print(result_div)

result_mul /= 2
print(result_mul)

2.566666666666667
11.55

##### Floor Division

In [23]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [25]:
result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

1.7000000000000002
1.7000000000000002

##### Exponential

In [29]:
square = 5**2

print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [35]:
name1 = "Joey"
name2 = 'Joel'
print(f"{name1} and  {name2}")

Joey and  Joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [40]:
print(f"This is my first name: {name1}")
print("This is my second name: ", name2)

print(f"This is my full name: {name1} {name2}", end=" Joe")

This is my first name: Joey
This is my second name:  Joel
This is my full name: Joey Joel Joe

##### String Concatenation

In [44]:
first_name = "Sally"
last_name = "Ride"
full_name = first_name + ' ' + last_name

print(full_name)

full_name += "s-A-Harley"
print(full_name)

Sally Ride
Sally Rides-A-Harley

##### Type Conversion

In [48]:
number = "45"

change_type_num = int(number)

print(number)

print(change_type_num +1)

45
46

##### input()

In [2]:

name = input("Enter your name: ")

print(f"Hello {name}! Nice to have you here.")
      
age = int(input("Enter your age: "))
print(f"You are {age +3} years old.")



print(f"You are {name} {age} and you are getting wiser.")
result_string = "You are {} {} and you are getting wiser!" .format(age, name)

print(result_string)

Enter your name: First
Hello First! Nice to have you here.
Enter your age: 25
You are 28 years old.
You are First 25 and you are getting wiser.
You are 25 First and you are getting wiser!

##### Old Way (python 2)

In [3]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 25 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [4]:
color = input("Enter a color: ")
year = int(input("Enter a year: "))
make = input("Enter a make: ")
model = input("Enter a model: ")

print(f"You are searching for a {year} {color} {make} {model}")

Enter a color: Yellow
Enter a year: 2025
Enter a make: Car Type
Enter a model: Car Model
You are searching for a 2025 Yellow Car Type Car Model

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

##### 'is' keyword

In [15]:
a = "wonderful"
b = "spectacular"

print (a is b)

b = "Wonderful"

print(a is b)

a = b 

print (a is b)

if a is b:
    print("Awesome")

False
False
True
Awesome

##### 'in' keyword

In [17]:
a = [1, 2, "list"]

b = 15

print (b in a)

if b in a:
    print("Statement is True")
else:
    print("This is Untrue")

False
This is Untrue

##### 'not in' keyword'

In [12]:
c = "test"

print (c in a)

print(c not in a)

False
True

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [20]:
user_input = input("Enter a sentence: ")
print(user_input)
print("p" in user_input)

if "p" in user_input:
    print(f"The p is in there!")

Enter a sentence: Preppy sentence
Preppy sentence
True
The p is in there!

## Using 'and'/'or' with If Statements

In [33]:
num_11 = 10
num_12 = 2
num_13 = 17
num_15 = 21
num_14 = 4

if num_11/5 == num_12 or num_13-7 == num_14:
    print(True + True)
else:
    print("Statement Not =")
    

    
if num_13 > num_14 or num_12 == num_11:
    print(True + False)
else:
    print("Statement Not = also")

2
1

Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [41]:
#for counter in condition
name = "Brandon Apol"
name2 = [2,3,5,7,9]
print(name2)

for letter in name2:
    print(letter + 1)

[2, 3, 5, 7, 9]
3
4
6
8
10

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [56]:
name = "Alphabet Alvin"

for i in name:
    if i.upper() == "A":
        continue
    print(i)

l
p
h
b
e
t

l
v
i
n

##### Break Statement

In [ ]:
# will break out of current loop

In [59]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [70]:
for i in range(20):
    if i == i/2:
        pass

##### Double For Loops

In [72]:
for i in range(5):
    for j in range(5):
        print (f" i = {i}, j = {j}" )

 i = 0, j = 0
 i = 0, j = 1
 i = 0, j = 2
 i = 0, j = 3
 i = 0, j = 4
 i = 1, j = 0
 i = 1, j = 1
 i = 1, j = 2
 i = 1, j = 3
 i = 1, j = 4
 i = 2, j = 0
 i = 2, j = 1
 i = 2, j = 2
 i = 2, j = 3
 i = 2, j = 4
 i = 3, j = 0
 i = 3, j = 1
 i = 3, j = 2
 i = 3, j = 3
 i = 3, j = 4
 i = 4, j = 0
 i = 4, j = 1
 i = 4, j = 2
 i = 4, j = 3
 i = 4, j = 4

### While Loops

In [74]:
#syntax:
#while something is true do something

num = 0

while num < 10 :
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [79]:
# bad practice
game_over = True

while game_over:
    print('infinite loop')
    user_input = input("Would you like to stop?")
    if user_input == "Y":
        game_over = False

infinite loop
Would you like to stop?n
infinite loop
Would you like to stop?n
infinite loop
Would you like to stop?Y

##### While & For Loops Used Together

In [95]:
num = 0

while num < 5:
    print (f"\n While loop iteration   {str(num)}")
    
    for i in range(2):
        print(f"For Loop iteration  {str(i)}")
        
    num += 1

 While loop iteration   0
For Loop iteration  0
For Loop iteration  1

 While loop iteration   1
For Loop iteration  0
For Loop iteration  1

 While loop iteration   2
For Loop iteration  0
For Loop iteration  1

 While loop iteration   3
For Loop iteration  0
For Loop iteration  1

 While loop iteration   4
For Loop iteration  0
For Loop iteration  1

### Built-In Functions

##### range()

In [102]:
#range(start, stop, step)

for i in range(3, 20, 3):
    print(i)

3
6
9
12
15
18

##### len()

In [111]:
name = input("Enter the name of your favorite book: ")

length = len(name)

print(length)

Enter the name of your favorite book: Of Mice and Men
15

##### help()

In [122]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

##### isinstance()

In [133]:
num = (input("Enter a number: "))

if isinstance(num, int):
    print(f"The {num} is indeed a {type(num)}!")
else:
    print(f"The {num} is not and int, but a {type(num)}.")

Enter a number: 43
The 43 is not and int, but a float.

##### abs()

In [135]:
print(abs(-1000))

1000

### Try and Except

In [139]:
#use the to give nice and useful error messages

try:
    input_num = input("Guess a number: ")
#    if input_num != input_num + number_test:
#        input_num = input_num + number_test
    print(f"Your number is: {str(input_num)}")

except:
    print(f"Input {input_num} is inaccurate. Change your value to a number.")

Guess a number: 45
Your number is: 45

### Lists

##### Declaring Lists

In [148]:
list_empty = []

names = ["Max", "mike", "Sally", "Bobby", "luke"]

print(names)

['Max', 'mike', 'Sally', 'Bobby', 'luke']

##### Indexing a List

In [160]:
print(names[1])

print(names[1:])

print(names[:2])

print(names[::2])

print(names[-1])

print(names[::-1])

mike
['mike', 'Sally', 'Bobby', 'luke']
['Max', 'mike']
['Max', 'Sally', 'luke']
luke
['luke', 'Bobby', 'Sally', 'mike', 'Max']

##### .append()

In [166]:
names.append("Brandon")
print(names)

['Max', 'mike', 'Washington', 'Washington', 'Washington', 'Sally', 'Bobby', 'luke', 'Brandon']

##### .insert()

In [173]:
names.insert(2, "Washington")
print(names)

['Max', 'mike', 'Washington', 'Washington', 'Washington', 'Washington', 'Washington', 'Sally', 'Bobby', 'luke', 'Brandon']

##### .pop()

In [169]:
names.pop(2)

print(names)

['Max', 'mike', 'Washington', 'Sally', 'Bobby', 'luke', 'Brandon']


##### .remove()

In [175]:
names.remove("Washington")

while "Washington" in names:
    names.remove("Washington")
print(names)

['Max', 'mike', 'Sally', 'Bobby', 'luke', 'Brandon']

##### del()

In [176]:
del(names[1])
print(names)

['Max', 'Sally', 'Bobby', 'luke', 'Brandon']

##### Concatenating Two Lists

In [186]:
names1 = ['Ronnie', 'Bobby', 'Ricky', 'Mike']
         
names2 = ['Chris', 'Mark', ['Red', 'Dave'], 'Roland']

list1 = [1,2,3,4]

list2 = [0,1,2,3]

large_list = list1 + list2

names_cat = names1 + names2

print(names_cat)
print(large_list)

['Ronnie', 'Bobby', 'Ricky', 'Mike', 'Chris', 'Mark', ['Red', 'Dave'], 'Roland']
[1, 2, 3, 4, 0, 1, 2, 3]

##### Lists Within Lists

In [188]:
print(names2)

print(names2[2])

['Chris', 'Mark', ['Red', 'Dave'], 'Roland']
['Red', 'Dave']

##### Looping Through Lists

In [193]:
#2 ways to loop through list
#1 by index
#2 by using the 'in' keyword


for i in range(len(names2)):
    print(names2[i])
    
for i in names2:
    print(i)

Chris
Mark
['Red', 'Dave']
Roland
Chris
Mark
['Red', 'Dave']
Roland

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [203]:
total_value = 1000

for i in range(1000):
    cubed = pow(i, 3)
    if cubed <= 1000:
        print(cubed)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [228]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for number in range(1, 101):
    if number > 1:
        for i in range(2,number):
            if (number % i) == 0:
                break
        else:
            print(number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [217]:
age = int(input("Enter your age: "))

if age < 18:
    print(f"{age} is the age of a Kid.")
elif 65 >= age >= 18:
    print(f"{age} is the age of an Adult.")
else:
    print(f"{age} is the age of a Senior.")

Enter your age: 66
66 is the age of a Senior.